
   main {
       height: 80vh;
       display: flex;
       flex-direction: center;
       align-items: center;
       justify-content: space-evenly;

   }

   .container-login {
       height: 40vh;
       width: 30%;
       border: 1px solid black;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       font-size: medium;
       text-align: center;
   }

   .container-creation-de-compte {
       height: 40vh;
       width: 30%;
       border: 1px solid black;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       font-size: medium;
       text-align: center;
   }

   #gap {
       display: flex;
       gap: 50%;
       justify-content: center;
   }

   .button {
       padding: 10px;
       text-decoration: none;
       background-color: black;
       color: white;
       font-size: large;
       border-radius: 10px;
   }
