/*-----------------------------*/
/*--------ANIMATION-----------*/
/*---------------------------*/
@keyframes bounce {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes apparition {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


header,
#section_intro h1,
#section_intro .encart-txt {
    opacity: 0;
}

header {
    animation: apparition 1s ease-in 0.5s 1 both;
}

#section_intro h1 {
    animation: apparition 1s ease-in 1s 1 both;
}

#section_intro .encart-txt {
    animation: apparition 1s ease-in 1.5s 1 both;
}

.encart .filter-skills {
    display: flex;
    height: 46.375rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.section-border-radius {
    position: relative;
    border-radius: var(--radius-super-big);
}

/*---------------------*/
/*------SECTIONS-------*/
/*---------------------*/
.btn-next-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bounce 1s infinite alternate;
}

.btn-next-section::after {
    background-color: var(--white);
    display: flex;
    border-radius: 50%;
    padding: 1rem;
    font-family: "icomoon";
    margin-top: 0.6rem;
    content: "\e919";
    color: var(--primary-color);
    font-size: 2em;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.40);
}

/*section_intro*/
#section_intro {
    background: url(../images/home-pyramids.webp) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2rem;
}

#section_intro>* {
    color: var(--white);
}

#section_intro .title-icon span[class^="icon-"] {
    color: var(--primary-color);
}


/*section_profile*/
#section_profile {
    background-color: var(--grey-light);
}

/* #section_profile .section-background {
    background:
} */

/* --------listing-profile----*/
#listing-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


/*section_contact*/
#section_profile {
    background-color: var(--grey-light);
}

#section_contact .container {
    position: relative;
    background: url(../images/photo-equipe.webp) no-repeat;
    background-size: cover;
    color: var(--white);
    text-align: center;
    border-radius: var(--radius-super-big);
    overflow: hidden;
}

#section_contact .container:before {
    position: absolute;
    z-index: 10;
    content: '';
    opacity: 0.85;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: block;
    background-color: var(--primary-color-dark);
}

#section_contact .container h2,
#section_contact .container h2 span,
#section_contact .container p {
    color: var(--white);
}

#section_contact::before {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*--------------------*/
/*-----RESPONSIVE-----*/
/*--------------------*/
@media screen and (min-width: 320px) {
    .container {
        width: 100%;
    }


}

@media screen and (min-width: 768px) {

    .home>section,
    .overflow-hidden-lg,
    #section_contact .container {
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
    }

    .home>section {
        height: 94vh;
        width: 97%;
        margin-top: 3vh;
        /* padding: 2rem; */
    }

    .btn-next-section {
        position: absolute;
        z-index: 100;
        bottom: -20px;
    }

    #section_profile .overflow-hidden-lg,
    #section_contact .container {
        justify-content: center;

    }

    .overflow-hidden-lg {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    #section_profile .overflow-hidden-lg {
        padding: 2rem;
    }
    #section_profile .overflow-hidden-lg >div[class^="container"] {
        position:relative;
        z-index:100;
    }
    #section_profile .overflow-hidden-lg::before {
        position: absolute;
        right: -130px;
        top: 0;
        color: #a9a9a9;
        display: block;
        height: 150vh;
        opacity: 0.4;
        z-index: 1;
        font-family: "icomoon";
        content: "\e914";
        color: #a9a9a9;
        font-size: 60rem;
    }



    #section_contact>.container {
        min-height: 60vh;
        overflow: hidden;
    }

    #section_contact>.container>.row {
        position: relative;
        z-index: 20;
    }

}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1600px) {
    .home>section {
        height: 90vh;
        width: 90%;
        margin-top: 5vh;
        padding: 2rem;
    }

    .btn-next-section {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1690px) {}