/* -start---Main---- */

/* A supprimer plus tard */

h1 {
    margin: 0rem 0rem 1.5rem 0rem;
}

h2 {
    margin: 0rem 0rem 0rem 0rem;
}

/* --------------------- */
body {
    margin: 0;
}

body>main {
    padding : 1.5rem 2rem 0rem 2rem;
}

    /* -start---Picture - Name - Citation - Description----- */

    #profil-picture {
        display: flex;
        justify-content: center;
    }

    #avatar-name {
        font-size: 100px;
    }

    
    #title-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 20rem;
        margin: 0;
    }
    
    #citation {
        color: var(--primary-color);
        padding-left: 6rem;
        font-size: 1.5rem;
        line-height: 1;
        margin-top: 0;
    }
    #citation:before,
#citation:after{
        content:"\"";
    display:inline-block;
    }
    #profil-description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    /* -end---Picture - Name - Citation - Description----- */

/* -start---Diagram section---- */

.diagram-container {
    display: flex;
    align-items: center;
}

.diagram>img {
    width: 100%;
}
    
/* Objectifs section */
    
    /* ---- Buttons - Reseaux ---- */

    .buttons-reseaux-blocs {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 1rem 0rem 0rem 0rem;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .social-networks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .social-networks>ul {
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        margin: 0;
        gap: 20px;
    }
    
    .social-networks>ul>li {
        list-style-type: none;
    }
    
    
    .social-networks>ul>li>a>span {
        font-size : 50px;
        color: black;
    }

    /* ----Objectif - Tag ---- */

    .profil-tags {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .profil-tags>ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .profil-tags>ul>li {
        list-style-type: none;
        padding: 10px 20px;
        border-radius: 12px;
        border: 1px black solid;
        text-transform: uppercase;
        word-wrap: break-word;
        font-weight: 600;
        text-align: center;
    }
    

/* -End---Body---- */
    
/* Caroussel */

.caroussel-section {
    padding-top: 60px;
}

#caroussel-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0rem 0rem 0rem 2rem;
}

#avatar-name-carousel {
    font-size: 70px;
}

#line{
    border: 1px var(--primary-color) solid;
    opacity: 50%;
    width: 80px;
    transform: rotate(90deg);
}

#other-wilders{
    font-size: 20px;
    padding: 1.5rem 0rem 0rem 0rem;
}

    /* partie défilante */

.vjslider__slider {
    width: 100%;
}


/* ----- Responsive part----- */


@media screen and (max-width: 1600px) {
    .container-fluid {
        /* height: 90vh; */
        width: 90%;
        margin-top: 5vh;
        padding: 2rem;
    }
    
    #profil-picture {
        align-items: center;
    }
    
    .profile-big {
        width: 201px;
        height: 201px;
    }
    
    #title-name {
        padding-right: 0;
    }
    
    .buttons {
        gap: 5px;
    }
    
    
    #caroussel-title {
        padding: 0rem 0rem 0rem 1rem;
    }

    #other-wilders{
        font-size: 15px;
    }
    
    #avatar-name-carousel {
        font-size: 50px;
    }
}

@media screen and (max-width: 1440px) {

    .container-fluid {
        padding-bottom: calc(var(--bs-gutter-x)* 0.5);
        height: 100%;        
        width: 97%;
        margin-top: 3vh;
    }

    .profile-big {
        width: 246px;
        height: 246px;
    }
}

@media screen and (max-width: 1280px) {

    .container-fluid {
        padding-bottom: calc(var(--bs-gutter-x)* 0.5);
        height: 100%;        
        width: 97%;
        margin-top: 3vh;
    }

    .profile-big {
        width: 216px;
        height: 216px;
    }
}

@media screen and (max-width: 1024px) {
    .container-fluid {
        padding-bottom: calc(var(--bs-gutter-x)* 0.5);
        height: 100%;        
        width: 97%;
        margin-top: 2vh;
    }

    .profile-big {
        width: 168px;
        height: 168px;
    }

    .social-networks>ul {
        gap: 15px;
    }

    .social-networks>ul>li>a>span {
        font-size : 40px;
    }

    .caroussel-section {
        padding-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    
    .container-fluid {
        padding-bottom: calc(var(--bs-gutter-x)* 0.5);
        height: 100%;
        width: 97%;
        margin-top: 3vh;
    }
    
    .profile-big {
        width: 120px;
        height: 120px;
    }

    #profil-picture {
        display: flex;
        justify-content: center;
    }

    #profil-description {
        padding-top: calc(var(--bs-gutter-x)* 0.5);
    }
    
    #citation {
        padding: 0rem 2rem 1rem 2rem;
    }

    #title-name, #citation {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .social-networks {
        padding: 2rem 0rem 0rem 0rem;
    }

    .profil-tags {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 0rem 2rem 0rem;
    }
    
    .profil-tags>ul{
        padding: 0rem 1rem 0rem 1rem;
    }

    .diagram {
        display: flex;
        justify-content: center;
    }

    .caroussel-title {
        display: flex;
    }

    #line {
        transform: rotate(0deg); ;
    }
}

@media screen and (max-width: 480px) {
    .container-fluid {
        padding-bottom: calc(var(--bs-gutter-x)* 0.5);
        height: 100%;
        width: 97%;
        margin-top: 3vh;
    }

    .profile-big {
        width: 350px;
        height: 350px;
    }
}