/* -start---Main---- */

/* A supprimer plus tard */

h1 {
    margin: 0rem 0rem 1.5rem 0rem;
}

h2 {
    margin: 0rem 0rem 0rem 0rem;
}

/* --------------------- */
body>main {
    padding : 1.5rem 2rem 0rem 2rem;
    display : grid;
    grid-template-columns: repeat(4, 25%);
}

    /* -start---Picture - Name - Citation - Description----- */

.profil-informations {
    grid-column : 1/4;
    grid-row : 1/3;
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    grid-template-rows : repeat(6, 16.5%);
    height : 318px;
    }

    #profil-picture {
        grid-column : 1/2;
        grid-row : 1/7;
        width: 318px;
        height: 318px;
        border-radius: 50%;
        background-image: url("/Assets/julien\ photo.jpg");
        background-size: 350px;
        justify-self: center;
        /* align-self: flex-end; */
    }

    #profil-name {
        grid-column : 2/4;
        grid-row : 1/3;
    }

    #profil-name>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    #profil-name>div>span>img {
        width : 84px;
        height : 114px;
    }

    #avatar-name>img{
        width: 100%;
    }

    #profil-name>p {
        margin: 0 100px;
        color : var(--primary-color);   
    }

    #profil-description {
        grid-column : 2/4;
        grid-row : 4/7;
    }

    /* -end---Picture - Name - Citation - Description----- */

/* -start---Diagram section---- */

.diagram {
    grid-column: 4/5;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
}

.diagram>span>img {
    width: 318px;
}
    
/* Objectifs section */

.final-bloc-profil {
    grid-column : 1/4;
    grid-row : 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    
    /* ---- Buttons - Reseaux ---- */

    .buttons-reseaux-blocs {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 1rem 0rem 0rem 0rem;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .social-networks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .social-networks>ul {
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        margin: 0;
        gap: 20px;
    }
    
    .social-networks>ul>li {
        list-style-type: none;
    }
    
    
    .social-networks>ul>li>a>span {
        font-size : 50px;
        color: black;
    }

    /* ----Objectif - Tag ---- */

    .objectifs-tag-blocs {
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 0rem 0rem 2.5rem 0rem;
    }
    
    .profil-objectifs {
        display: flex;
        flex-direction: column;
    }
    
    #objectifs-blocs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .profil-tags>ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .profil-tags>ul>li {
        list-style-type: none;
        padding: 10px 20px;
        border-radius: 12px;
        border: 1px black solid;
        text-transform: uppercase;
        word-wrap: break-word;
        font-weight: 600;
        text-align: center;
    }
    

/* -End---Body---- */
    
/* Caroussel */

.caroussel-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(5, 20%);
}

#caroussel-title {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: space-between;
    gap: 20px;
    padding: 0rem 0rem 0rem 2rem;
}

#line{
    border: 1px var(--primary-color) solid;
    opacity: 50%;
    width: 80px;
    rotate: 90deg;
}

.caroussel-section>section>h2{
    font-size: 25px;
    padding: 1.5rem 0rem 0rem 0rem;
}

#caroussel-title>div>img{
    width: auto;
    height: auto;
}

    /* partie défilante */

* .other-profiles{
    grid-column: 2/5;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.other-profiles>li{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.other-profiles>li>a>img {
    width : 100px;
    height: 100px;
    gap: 50px;
    object-fit: cover;
    border-radius: 50%;
} 

#carousel-container {
    grid-column: 2/6;
    width: auto;
    height: auto;
    position: relative;
    /* margin: 50px auto 0; */
}

#carousel {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.animate {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transorm;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

/* .slide {
    list-style: none;
    position: relative;
    float: left;
    transform: translateX(-500px);
} */

#controls {
    position: absolute;
    font-size: 50px;
    top: calc(50% - 25px);
    margin: 0 -60px;
}

#controls span {
	width: 50px;
	cursor: pointer;
	opacity: 0.4;
}

#prev {
    transform: rotate(90deg);
    float: left;
}

#next {
    transform: rotate(-90deg);
    float: right;
}

