
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 50px;
    padding: 3rem;
}

.wilder-photo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.info-bloc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
}

.network-bloc {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
}


.description-bloc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
}

.ambition-bloc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
}

.hobbies-bloc {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.compétences-bloc {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}


#profil-picture {
        width: 260px;
        height: 260px; 
        border-radius: 50%;
        background-image: url(https://cdn.pixabay.com/photo/2024/02/21/22/16/ai-generated-8588724_960_720.png);
        background-size: 260px;
}

#level {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-bloc > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

 .network-bloc > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

 .hobbies-bloc {
     display: flex;
     flex-direction: column;
     align-items: flex-start; 

 }

 .hobbies-bloc > h2 {
     margin: 0;
 }

 .hobbies-bloc > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
 }

 .compétences-bloc > form {
    display: flex;
    flex-direction: column;
    gap: 1em;

 }

 #hobbies-title {
     margin-bottom: 20px;
 }

 button {
    background-color: black; /* couleur de fond */
    color: white; /* couleur du texte */
    padding: 10px 20px; /* espacement intérieur */
    border: none; /* supprimer la bordure */
    border-radius: 5px; /* bordure arrondie */
    cursor: pointer; /* curseur au survol */
}

.compétences-bloc > form {
    margin-top: -20px;
}

form > input {
    border: none; /* supprimer la bordure */
    border-radius: 5px; /* bordure arrondie */
}

form > textarea {
    border: none; /* supprimer la bordure */
    border-radius: 5px; /* bordure arrondie */
}

  input[type="range"] {
        width: 70%;
  }

@media screen and (max-width: 600px) {
    main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
